<p id="notice"><%= notice %></p>
<div class="container row">
  <div class="z-depth-3 col s12 expensesContainer">
    <div class="card-title"><h5>Expenses</h5></div>
    <div id="expenses">
      <%= render partial: 'expenses/expense', locals: {} %>
    </div>
    <div class="fixed-action-btn">
      <a href="#addExpense" class="modal-trigger">New Expense</a>
    </div>

  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
  </div>
  <!-- Modal Structure -->
  <div id="addExpense" class="modal">
    <div class="modal-content">
      <h5 class="center-align" id="expenseModel">New Expense</h5>
      <%= render partial: 'expenses/form', locals: {expense: current_user.expenses.new(spent_at: Date.today())} %>
    </div>
  </div>

  <div id="editExpense" class="modal">
    <div class="modal-content">
      <h5 class="center-align">Edit Expense</h5>
      <div id="editExpenseModel"></div>
    </div>
  </div>
</div>
<script>

    $(document).on('ready', function() {
        alert("vsdjvl");
        $('.modal').modal();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: false, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            }
        );

    });
</script>